@media (min-width: 991px) {
    .page {
        margin-left: 20em;
    }
}

th {
    font-weight: normal !important;
}

.autocomplete-list {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 80vw;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 1000;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

input::placeholder {
    color: white;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

input::-moz-placeholder {
    color: white;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: white;
    opacity: 1;
}

.nav-tabs .nav-link {
    background-color: #2e404c;
    color: white;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    margin-right: 5px;
}

.nav-tabs .nav-link.active {
    background-color: #212529;
    color: #e6d15dbf;
    border-color: #e6d15dbf;
}

.nav-tabs .nav-link:hover:not(.active) {
    background-color: #2e404c;
    border-color: #dee2e6 #dee2e6 #e9ecef;
}