<div class="row page">
    <ng-container *ngIf="enableScan">
        <div class="col-12">
            <h3>DISCLAIMER</h3>
            <p><u>Warframe</u> and <u>Developer Digital Extremes Ltd</u> do not have their own API for this,
                that's why we have a tool that will analyze screenshots provided by you and try to find patterns to find
                your items.</p>
            <p>
                WarframeMarket has no official link with Digital Extremes Ltd or Warframe. All requests are sent through
                the
                <a href="https://warframe.market/api_docs" target="_blank">Warframe Market public API</a>. All Platinum
                values ​​are defined by the players themselves on the warframe.market website.
            </p>
            <h5 style="color: #d1bf54"><b>USE AT OWN RISK</b>, for more info click on the link below.</h5>
            <p>
                <u data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;color: #d1bf54">
                    CLICK HERE
                </u>
                to check the tool and get instructions on how to use it.
            </p>
        </div>
        <div class="col-12 mt-4">
            <button class="btn btn-sm btn-primary" (click)="scan()">
                <span class="material-symbols-outlined" style="font-size: 15px;">
                    search
                </span>
                Scan my items.
            </button>
        </div>
        <hr />
    </ng-container>

    <div class="col-12">
        <p>
            {{tradeableList.length}} items can currently be traded. (Warframe 39.0.4 on 2025-07-03: <a
                href="https://forums.warframe.com/topic/1461121-isleweaver-hotfix-3904/" target="_blank"
                style="color: white;">Isleweaver</a>) {{myList.length}}
        </p>
    </div>

    <div class="col-12">
        <p>
            Only active users from WarframeMarket will be considered (last 3 months), last price update on 2025-07-06
        </p>
    </div>
    <hr />
    <div class="col-12">
        <div>
            <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange($event)" class="form-control"
                placeholder="Search and add item" step="color: white">

            <div *ngIf="filteredItems.length > 0" class="autocomplete-list">
                <div *ngFor="let item of filteredItems" (click)="selectItem(item)" class="autocomplete-item">
                    {{item.item_en}}
                </div>
            </div>
        </div>
        <ng-container *ngIf="!complete && current > 0">
            Searching for item information: {{currentItem}}. {{current}} of {{tradeItem.length}}
        </ng-container>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col" style="cursor: pointer;" (click)="sort('name')">
                        Item
                        <span class="material-symbols-outlined">
                            {{lastSort == 'name' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </span>
                    </th>
                    <th scope="col" class="text-center" style="cursor: pointer;" (click)="sort('lowest')">
                        Lowest price
                        <span class="material-symbols-outlined">
                            {{lastSort == 'lowest' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </span>
                    </th>
                    <th scope="col" class="text-center" style="cursor: pointer;" (click)="sort('higher')">
                        Higher price
                        <span class="material-symbols-outlined">
                            {{lastSort == 'higher' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </span>
                    </th>
                    <th scope="col" class="text-center" style="cursor: pointer;" (click)="sort('average')">
                        Average price
                        <span class="material-symbols-outlined">
                            {{lastSort == 'average' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </span>
                    </th>
                    <th scope="col" class="text-center" style="cursor: pointer;" (click)="sort('most_frequent')">
                        Median price
                        <span class="material-symbols-outlined">
                            {{lastSort == 'most_frequent' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of myList; let i=index" class="text-center">
                    <td scope="row" class="text-start">{{item.name}}</td>
                    <td scope="row">
                        {{item.lowest > 0 ? item.lowest : '-'}}
                        <img *ngIf="item.lowest > 0" [src]="'assets/img/icons/platinum.png'" width="25" />
                    </td>
                    <td scope="row">
                        {{item.higher > 0 ? item.higher : '-'}}
                        <img *ngIf="item.higher > 0" [src]="'assets/img/icons/platinum.png'" width="25" />
                    </td>
                    <td scope="row">
                        {{item.average > 0 ? item.average : '-'}}
                        <img *ngIf="item.average > 0" [src]="'assets/img/icons/platinum.png'" width="25" />
                    </td>
                    <td scope="row">
                        {{item.most_frequent > 0 ? item.most_frequent : '-'}}
                        <img *ngIf="item.most_frequent > 0" [src]="'assets/img/icons/platinum.png'" width="25" />
                    </td>
                    <td scope="row">
                        <a [href]="'https://warframe.market/items/' + item.url" target="_blank" style="color: white;">
                            <span class="material-symbols-outlined">
                                open_in_new
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-python-tool></app-python-tool>