<app-sidebar [account]="account" [nextRank]="nextRank" [itemsCount]="itemsCount" (update)="calculate()"
    (changeRender)="render = $event"></app-sidebar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" *ngIf="render == 'items'">
            <app-items-panel [account]="account" (update)="calculate()"></app-items-panel>
        </div>
        <div class="col-12 mt-5" *ngIf="render == 'locations'">
            <app-star-chart-panel [account]="account" (update)="calculate()"></app-star-chart-panel>
        </div>
        <div class="col-12 mt-5" *ngIf="render == 'market'">
            <app-market [itemsCount]="itemsCount" [account]="account" (update)="calculate()"></app-market>
        </div>
    </div>
</div>
<button id="myBtn" title="Go to top" class="btn btn-sm btn-info" (click)="scrollToTop()">
    <span class="material-symbols-outlined">
        arrow_circle_up
    </span>
</button>