<app-sidebar [account]="account" [nextRank]="nextRank" [itemsCount]="itemsCount" (update)="calculate()"
    (changeRender)="render = $event"></app-sidebar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" *ngIf="render == 'items'">
            <app-items-panel [account]="account" (update)="calculate()"></app-items-panel>
        </div>
        <div class="col-12 mt-5" *ngIf="render == 'mrscan'">
            <app-mr-scan [itemsCount]="itemsCount" [account]="account" (update)="calculate()"></app-mr-scan>
        </div>
        <div class="col-12 mt-5" *ngIf="render == 'market'">
            <app-market [itemsCount]="itemsCount" [account]="account" (update)="calculate()"></app-market>
        </div>
    </div>
</div>