<div class="row items">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5>OPTIONS</h5>
            </div>
            <div class="col-12 col-md-3" data-bs-theme="dark">
                <label>Filter by acquisition method:</label>
                <select class="form-select" [(ngModel)]="acquisitionFilter">
                    <option [ngValue]="null">Show all</option>
                    <hr />
                    <option *ngFor="let item of acquisitionList" [ngValue]="item">{{item.type}}</option>
                </select>
                <small *ngIf="acquisitionFilter" style="color: lightgray;">{{acquisitionFilter?.description}}</small>
            </div>
        </div>
    </div>
    <hr class="mt-4" />
    <ng-container *ngFor="let item of items">
        <div class="col-12 col-md-3" *ngIf="showCategory(item)">
            <app-items [image]="item" [items]="account[item]" (update)="calculate()"
                [acquisitionFilter]="acquisitionFilter?.type"></app-items>
        </div>
    </ng-container>
</div>