<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-fullscreen modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tracker tool for warframe items</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="!confirm">
                    <h4><span style="color: red">ATTENTION!</span></h4>
                    <p>This tool is not directly endorsed by Digital Extremes or its team. It will not change anything
                        in
                        your game or computer, however, we cannot guarantee incompatibility with software on your
                        machine
                        (such as anti-virus) or with game anti-cheats like the warframe itself, we recommend that after
                        use,
                        you close the tool to continue playing or open other games. <b>USE AT OWN RISK</b></p>
                    <p>- This tool uses Python as programming language, you can get more info about python here: <a
                            href="https://www.python.org/about/" target="_blank">Python page</a></p>
                    <p>- To scan images, this tool uses tesseract-ocr, Tesseract OCR is an open source project focused
                        on
                        image scanning. Check more info about Tesseract here: <a
                            href="https://github.com/tesseract-ocr/tesseract" target="_blank">Tesseract OCR</a></p>
                    <p>- This tool, referred to from now on as <b>API</b>, can have the code checked here: <a
                            href="https://github.com/nfekted/warframe-tracker/tree/main/src/shared/python"
                            target="_blank">API for item tracker python code</a>
                    </p>
                    <p>- So far, it will only work in <b>Windows</b>.</p>
                    <hr />
                    <div class="form-check" (change)="confirm=true">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            I have read and understand that the API does not execute any type of code considered
                            malicious,
                            and that even so, it is not related to, nor is it endorsed by Digital Extremes or its team.
                        </label>
                    </div>
                </ng-container>
                <ng-container *ngIf="confirm">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5>STEP {{current}} of 7</h5>
                        </div>
                        <!-- 1 -->
                        <div class="col-12" *ngIf="current == 1">
                            <p>Download de API .rar, it will contain the python application (api.exe) + TesseractOCR
                                (folder)</p>
                            <p><a href="https://drive.google.com/file/d/1ewTIXmrs_5ewbW1gQJvrmHwNM0IeYUqC/view"
                                    target="_blank">
                                    <button class="btn btn-sm btn-primary">CLICK HERE TO DOWNLOAD</button>
                                </a>
                                <small>~100MB</small>
                            </p>
                        </div>
                        <!-- 2 -->
                        <div class="col-12" *ngIf="current == 2">
                            <p>Choose a location and extract the contents of the rar, the TESSERACT folder must be in
                                the same location as api.exe:</p>
                            <img [src]="'assets/img/tools/1.png'">
                        </div>
                        <!-- 3 -->
                        <div class="col-12" *ngIf="current == 3">
                            <p>Run api.exe, and check CMD/Console for some info if you want.</p>
                            <p>You need to use <b>CTRL+PRINTSCREEN</b> to print images</p>
                            <p>You need to use <b>CTRL+ESC</b> to stop and close api.</p>
                            <img [src]="'assets/img/tools/2.png'">
                            <p>Alternatively, you can manually take screenshots as you wish, and manually place the
                                images in the API folder.</p>
                            <p>Alternatively, you can terminate the api by closing the CMD/Console</p>
                        </div>
                        <!-- 4 -->
                        <div class="col-12" *ngIf="current == 4">
                            <p><b style="color: red">IN FIRST PRINT USE</b>, it may not work automatically and will open
                                the TK framework on taskbar instead, just click on the icon and next times, it will work
                                automatically.
                            </p>
                            <img [src]="'assets/img/tools/3.png'">
                        </div>
                        <!-- 5 -->
                        <div class="col-12" *ngIf="current == 5">
                            <p><b>ALL IMAGES</b> are saved in the same location as the API.exe, if you wish, you can
                                manually paste your prints there (important if you want to re-execute a routine in the
                                future without capturing all prints again)</p>
                            <img [src]="'assets/img/tools/4.png'">
                            <p><b>A VISUAL PREVIEW</b> of the print is informed in the CMD/Console.</p>
                            <img [src]="'assets/img/tools/5.png'">
                        </div>
                        <!-- 6 -->
                        <div class="col-12" *ngIf="current == 6">
                            <p><b>WE RECOMMEND</b> open your warframe inventory, through "SHOW PROFILE" in
                                your player icon, then Inventory -> Sort by Mastery, to show all mastered items first
                            </p>
                            <img [src]="'assets/img/tools/6.png'">
                            <p><b>Some tips for better recognition:</b></p>
                            <p>- <b>Avoid dark colors</b>, such as black, brown, purple, Tesseract may confuse dark
                                backgrounds as "characters", prioritize painting your warframe/operator completely clear
                                for captures</p>
                            <p>- <b>The game in English</b> will be better tracked, since the imported data is in
                                English</p>
                            <p>- <b>For more text accuracy</b>, or to avoid painting your warframes, you can capture
                                just the item name. It's more work, but more accurate.</p>
                            <img [src]="'assets/img/tools/7.png'">
                        </div>
                        <!-- 7 -->
                        <div class="col-12" *ngIf="current == 7">
                            <p>Now, click in "Start Scan" on website</p>
                            <img [src]="'assets/img/tools/8.png'">
                            <p>If everything goes as planned, all items will be compared with the images
                                provided.</p>
                            <img [src]="'assets/img/tools/9.png'">
                        </div>

                        <hr />
                        <!-- BUTTONS -->
                        <div class="col-12 col-md-6">
                            <button *ngIf="current > 1" class="btn btn-outline-danger btn-sm w"
                                (click)="current = current-1">BACK</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button *ngIf="current < 7" class="btn btn-outline-primary btn-sm w"
                                (click)="current = current+1">NEXT</button>
                            <button *ngIf="current == 7" class="btn btn-outline-primary btn-sm w"
                                (click)="confirm = false">FINISH</button>
                        </div>
                    </div>
                </ng-container>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>