<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-fullscreen modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tracker tool for warframe items</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><span style="color: red">ATTENTION!</span></p>
                <p>This tool is not directly endorsed by Digital Extremes or its team. It will not change anything in
                    your game, however, we cannot guarantee incompatibility with software on your machine (such as
                    anti-virus) or with game anti-cheats, we recommend that after use, you close the tool to continue
                    playing. <b>USE AT OWN RISK</b></p>
                <p>This tool uses Python as programming language, you can get more info about it here: <a
                        href="https://www.python.org/about/" target="_blank">Python page</a></p>
                <p>To scan images, this tool uses tesseract-ocr, Tesseract OCR is an open source project focused on
                    image scanning. Check more info about Tesseract here: <a
                        href="https://github.com/tesseract-ocr/tesseract" target="_blank">Tesseract OCR</a></p>
                <p>This tool code can be checked here: <a href="https://github.com/nfekted/warframe-tracker"
                        target="_blank">Item tracker python code</a></p>
                <p><a href="https://drive.google.com/file/d/1VwdM4F6XF6sQoF50ZmvIaP-PlOBIMvjZ/view" target="_blank">
                        <button class="btn btn-sm btn-primary">CLICK HERE TO DOWNLOAD</button>
                    </a>
                    <small>~100MB</small>
                </p>
                <div class="col-12 text-center">
                    <span style="color: red">
                        <h5>IMPORTANT</h5>
                    </span>
                </div>
                <div class="col-12 text-center">
                    <p>Dark colors, such as black, navy blue, brown, gray, among other dark colors, can impact
                        character identification. We suggest that during prints, for greater precision choose
                        to paint your warframe/weapons completely white.</p>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>HOW TO USE IT</h3>
                    </div>
                    <div class="col-12 text-center">
                        <p><b>1</b> - DOWNLOAD RAR, and extract IT on some folder</p>
                        <img [src]="'assets/img/tools/1.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>2</b> - Execute api.exe, and check CMD/Console for some info</p>
                        <p>You need to use <b>CTRL+PRINTSCREEN</b> to print images</p>
                        <p>You need to use <b>CTRL+ESC</b> to close api running</p>
                        <img [src]="'assets/img/tools/2.png'">
                        <p>Alternatively, you can manually take screenshots as you wish, and manually place the images
                            in the API folder.</p>
                        <p>Alternatively, you can terminate the api by closing the CMD/Console</p>
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>3</b> - <b>IN FIRST PRINT</b>, it may not work automatically, opening the TK framework,
                            just
                            click on the icon and the following times, it will work automatically.</p>
                        <img [src]="'assets/img/tools/3.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>4</b> - <b>ALL IMAGES</b> are saved next to the API executable, if you wish, you can
                            manually paste your prints there (important if you want to re-execute a routine in the
                            future)</p>
                        <img [src]="'assets/img/tools/4.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>5</b> - <b>VISUAL PREVIEW</b> of the print is informed in the CMD/Console</p>
                        <img [src]="'assets/img/tools/5.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>6</b> - <b>WE RECOMMEND</b> open your warframe inventory, through "SHOW PROFILE" in your
                            player icon, then Inventory -> Sort by Mastery, to show all mastered items first</p>
                        <img [src]="'assets/img/tools/6.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>7</b> - <b>For more text accuracy</b>, you can capture just the item name.</p>
                        <img [src]="'assets/img/tools/7.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>8</b> - Click in Start Scan</p>
                        <img [src]="'assets/img/tools/8.png'">
                    </div>
                    <hr />
                    <div class="col-12 text-center">
                        <p><b>9</b> - If everything goes as planned, all items will be compared with the images
                            provided.</p>
                        <img [src]="'assets/img/tools/9.png'">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>