@import "../node_modules/bootstrap/scss/bootstrap";

.teste {
    border: solid 2px red;
}

.teste2 {
    border: solid 2px blue;
}

.teste3 {
    border: solid 2px green;
}

.teste4 {
    border: solid 2px purple;
}

body {
    background-color: #2e404c;
    color: white;
    font-family: "Tomorrow", sans-serif;
    font-style: normal;
    font-weight: 400;
}

input {
    background-color: #2e4652 !important;
    color: white !important;
}

input:focus {
    border: 3px solid #e6d15dbf !important;
}

.form-select {
    background-color: #212e36;
    color: white;
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 400;
}



.btn-primary {
    background-color: #2e404c !important;
    color: white !important;
    border: solid 2px white;

    &:hover {
        background-color: #172127 !important;
        color: white !important;
        border: solid 2px white;
    }
}

.btn-secondary {
    background-color: #2e404c !important;
    color: white !important;
    border: solid 2px white;

    &:hover {
        background-color: #2e404c !important;
        color: white !important;
        border: solid 2px #d1bf54bf;
    }
}

.btn-danger {
    background-color: #2e404c !important;
    color: white !important;
    border: solid 2px #d43737;

    &:hover {
        background-color: #882525 !important;
        color: white !important;
        border: solid 2px white;
    }
}

.btn-item {
    font-size: 20px;
}

.prime {
    background-color: #2e404c !important;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #f7d358, #d4af37, #b8860b);
    border-image-slice: 1;
    color: #d1bf54 !important;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-box-shadow: inset 0 -3px 7px #f7d358bf;
    -moz-box-shadow: inset 0 -3px 7px #f7d358bf;
    box-shadow: inset 0 -3px 7px #f7d358bf;

    &:hover {
        background-color: #172127 !important;
        color: white !important;
        border: solid 2px #d1bf54bf;

    }
}

.kuva {
    background-color: #2e404c !important;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #f75858, #d43737, #b80b0b);
    border-image-slice: 1;
    color: #b33a3a !important;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-box-shadow: inset 0 -3px 7px #f75858bf;
    -moz-box-shadow: inset 0 -3px 7px #f75858bf;
    box-shadow: inset 0 -3px 7px #f75858bf;

    &:hover {
        background-color: #172127 !important;
        color: white !important;
        border: solid 2px #d15454bf;

    }
}

.coda {
    background-color: #2e404c !important;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #f758ea, #d437bf, #b80ba1);
    border-image-slice: 1;
    color: #ffd1f7 !important;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-box-shadow: inset 0 -3px 7px #f758ddbf;
    -moz-box-shadow: inset 0 -3px 7px #f758ddbf;
    box-shadow: inset 0 -3px 7px #f758ddbf;

    &:hover {
        background-color: #172127 !important;
        color: white !important;
        border: solid 2px #d154c0bf;

    }
}

.tenet {
    background-color: #2e404c !important;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #58ecf7, #37cfd4, #0badb8);
    border-image-slice: 1;
    color: rgb(209, 252, 255) !important;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-box-shadow: inset 0 -3px 7px #58f2f7bf;
    -moz-box-shadow: inset 0 -3px 7px #58f2f7bf;
    box-shadow: inset 0 -3px 7px #58f2f7bf;

    &:hover {
        background-color: #172127 !important;
        color: white !important;
        border: solid 2px #54c9d1bf;

    }
}

.w {
    width: 100%;
}